
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(70vh - 80px); /* considerando que a navbar tem uns 80px */
  color: white;
  text-align: center;
  margin: 120px auto;
}

.typing-box {
  max-width: 800px;
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  
  margin-bottom: 20px;
  animation: typing 2s steps(50, end), blink 0.45s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}

.subtext {
  font-size: 1.2rem;
  
  color: #ccc;
}


.explore-btn {
  display: inline-block;
  padding: 0.65em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  animation: bn13bouncy 3s infinite linear;
  position: relative;
  border-radius: 6px;
  font-weight: bold;
}

.explore-btn:hover {
  color: #000;
  background-color: #fff;
}

.explore-btn:hover {
  background-color: white;
  color: #000000;
}

@keyframes bn13bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}



.stars-animation {
  user-select: none;
  margin-bottom: 30px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.stars-animation span {
  color: #333; /* cor base (sem preenchimento) */
  animation: starGlow 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}

/* Animação com atraso progressivo */
.stars-animation span:nth-child(1) { --i: 1; }
.stars-animation span:nth-child(2) { --i: 2; }
.stars-animation span:nth-child(3) { --i: 3; }
.stars-animation span:nth-child(4) { --i: 4; }
.stars-animation span:nth-child(5) { --i: 5; }

@keyframes starGlow {
  0%   { color: #333; transform: scale(1); }
  50%  { color: #495cc7; transform: scale(1.3); }
  100% { color: #333; transform: scale(1); }
}
