/* components/Navbar.css */
.navbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 40px auto;
  z-index: 1000;
  background-color: transparent;
  color: #fff;
  border-radius: 12px;
  padding: 10px 20px;
  width: 95%;
}

.start-nav img {
  width: 100px;
}

.start-nav, .nav-links {
  gap: 100px;
  display: flex;
  align-items: center;
}

.end-nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.end-nav p {
  user-select: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}



.nav-links a {
  padding: 10px;
  text-transform: uppercase;
  margin-left: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* sombra suave */
  transform: translateY(-1px); /* efeito de "subir" levemente */
  transition: all 0.2s ease;
}


.btnEntrar {
  padding: 10px 16px;
  background-color: transparent;
  color: white;
  border-radius: 6px;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  border: 1px solid #fff;
}

.btnEntrar:hover {
  color: #000;
  background-color: #fff;
}



/* CSS PRO BTN ENTRAR */

.bn54 {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
}



