

.header-logo {
  width: 150px;
  height: 150px;
  transition: opacity 0.3s ease;
}

.sidebar{
  position: sticky;
  top: 0;
  height: 100vh;
  width: 270px;
  background: #1f1f2f;
  box-shadow: 0 3px 9px #000;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  transition: width 0.4s ease;
  
}



.sidebar.collapsed {
  width: 90px;

}

.text-welcome {
  margin-bottom: 20px;
  user-select: none;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .text-welcome {
  opacity: 0;
  pointer-events: none;
}

.sidebar.collapsed .sidebar-header .header-logo {
  opacity: 0;
  pointer-events: none;
}


.sidebar .sidebar-header {
  gap: 50px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #171724;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-header .sidebar-toggle {
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0e0e16;
  transition: 0.2s ease;
}

.sidebar.collapsed .sidebar-header .sidebar-toggle {
  height: 50px;
  width: 50px;
  transform: translateX(-2px);
}



.sidebar.collapsed .menu-link p{
  opacity: 0;
  pointer-events: none;
}

.sidebar-toggle:hover {
  background: #715199;
}



.sidebar-header .sidebar-toggle span {
  font-size: 1.75rem;
  transition: transform 0.4s ease;
}

.sidebar.collapsed .sidebar-toggle span {
  transform: rotate(180deg);
}

.sidebar-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 18px;
  overflow: hidden auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}



.menu-list {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  align-items: center;
  display: flex;
  gap: 12px;
  white-space: nowrap;
  padding: 12px 15px;
  border-radius: 8px;
  background: #0e0e16;
  transition: 0.2s ease;
}



.menu-link:hover{
  background: #715199;
}

.menu-link p {
  color: #fff;
  transition: 0.2s ease;
}


.sidebar-toggle-mobile {
  display: none;
}

@media (max-width: 1366px) {
 .sidebar-content .menu-link {
  padding: 12px 10px;
}

}

@media (max-width: 768px) {




.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 220px;
    background: #1f1f2f;
    z-index: 998;
    transition: transform 0.4s ease;
    transform: translateX(0); /* visível por padrão */
  }

  .sidebar.collapsed {
    transform: translateX(-100%); /* esconde fora da tela */
  }

  .sidebar-header .sidebar-toggle {
    display: none; /* esconde o botão interno */
  }

  .sidebar-header img{
    width: 120px;
    height: 120px;
    margin-left: 30px;
    transition: 0.1s ease;
  }

.sidebar-toggle-mobile {
  position: fixed; /* fixo na tela */
  top: 10px;
  left: 20px;
  height: 40px;
  width: 40px;
  z-index: 999; /* pra ficar na frente */
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #0e0e16;
  transition: 0.2s ease;
}



.rotate-left {
  transform: rotate(180deg); /* Gira para a esquerda */
  transition: transform 0.4s ease;
}

.rotate-right {
  transform: rotate(0deg); /* Posição padrão */
  transition: transform 0.4s ease;
}


}





.sidebar .sidebar-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 18px;
  overflow: hidden auto;
  scrollbar-width: thin;
  border-top: 1px solid #171724;
  scrollbar-color: #ccc transparent;
}

